.text {
  text-indent: 50px;
}

div img {
  height: 100px;
  float: left;
}
div h1 {
  float: center;
}
.header img {
  allign: left;
}
.header p {
  font-size: 12px;
  float: center;
}
.jobImgs {
  height: 50px;
}
.employmentHistory {
  float: left;
  height: 300px;
}
.skillsLearned {
  float: left;
  height: 300px;
}
.education {
  float: left;
  height: 300px;
}
.bio {
  clear: both;
}
body {
    background: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */
}
